@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: bisque;}

li, a, button{
    font-family:"Geologica", sans-serif ;
    font-weight: 500;
    font-size: 16px;
    color: grey;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10%;

}


.logo {
    cursor: pointer;

}

.navlinks{
    list-style: none;
}

.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a{
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover{
    color: black;

}

button{
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    color: black;
}


.box-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.text{
    background-color: #ffc79d;
    position: relative;
}

.main-text{
    position: absolute;
    top: 175;
    left: 240;
    text-transform: uppercase;
    font-size: 34px;
}

.second-text{
    position: absolute;
    left: 80;
    top: 260;
    font-size: 20px;
}

.picture-top{
    object-fit: cover;
    position: absolute;
    right:300;
    top: 60;
  max-width: 310px;
  border-radius: 40px;
}


#findmore{
    position: absolute;
    background-color: #ffc79d;
    top: 380;
    left: 200;
    border: 3px solid gray;
    padding: 10;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#findmore:hover{
    color:gray;
}

.informaions{
    position: relative;
    width: auto;
    height: 500px;
    background-color: aqua;
}

.squae{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: black;


}

.squareicon{
    width: 100;
    height: 100;
}

